<!DOCTYPE html>
<html>
 
<head>
    <title></title>
</head>
 <style>
 	body{ text-align: center;
	background-image: url("https://i.pinimg.com/originals/ce/0d/87/ce0d8779f9725b3fef8cb8e208921ecb.gif");	
	padding-top: 350px;
}
 </style>
<body>
    <form id="signin" name="signin" method="post" action="signin">
        <label for="email">Email Address</label>
        <input class="text" name="email" type="text" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <input class="btn" type="submit" value="Sign In" />
    </form>
 
</body>
 
</html>